// COLOURS

$blue: rgb(51, 80, 243);
$turquoise: rgb(16, 231, 216);
$pink: rgb(231, 16, 192);
$gray: rgb(44, 42, 67);
$white: rgb(255, 255, 255);

$primary: $blue;
$secondary: $pink;
$tertiary: $turquoise;
$text: $gray;

// FONTS 

$heading-family: 'Poppins', sans-serif;
$text-family: 'Inconsolata', sans-serif;

// SIZES

$small: 16px;
$medium: 24px;
$large: 32px;