@import '../../styles/variables.scss';

h1 {
  font-size: $large;
  font-family: $heading-family;
}

h2 {
  font-size: $medium;
  font-family: $heading-family;
}

.App {
  text-align: center;
  background: url('./bg-disco.png') no-repeat fixed top left, radial-gradient( circle farthest-corner at 10% 20%,  rgb(154, 164, 251) 42%, rgba(92,202,238,0.41) 93.6% ) ;
  min-height: 100vh;
  padding-bottom: 60px;
}

.App-header {
  background-color: $primary;
  margin: 0;
  padding: 10px;
}

.App-heading {
  margin: 4px 0;
  color: $white;
  span {
    color: $tertiary;
  }
}

.App-columnWrapper {
  display:flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.App-column {
  background: rgba(255, 255, 255, 0.8);
  flex-basis: calc(50% - 20px);
  border-radius: 3px;
  padding: $large;
}
