@import '../../styles/variables.scss';

.SearchBar {
    margin: 40px auto;
    width: 30%;
    padding: 30px;
    color: black;

    &-input {
        border: none;
        font-size: 1.4em;
        font-family: $text-family;
        padding: 10px 20px;
        border-radius: 3px;
        width: 100%;
    }

    &-btn {
        border: none;
        box-shadow: none;
        font-family: $heading-family;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
        padding: 15px 35px;
        margin-top: 20px;
        border-radius: 30px;
        background: $primary;
        color: white;
        transition: background-color .25s;
        
        &:hover {
            background: $secondary;
            
        }
    }
}